<p><%= comment.author.name %>: <%= comment.text%></p>
<%if can? :destroy, comment %>
        <div>
                <%=button_to "Delete", user_post_comment_path(comment.author_id,comment.post_id,comment.id ), :method => :delete, class: 'button' %>
        </div>
<%end%>